.fondo,
.fondo-two {
  height: 100%;
  background-color: blue;
  background-image: linear-gradient(to top left, white, blue); }
  .fondo.fondo-registro, .fondo.fondo-nosotros,
  .fondo-two.fondo-registro,
  .fondo-two.fondo-nosotros {
    background-image: linear-gradient(to top left, white, blue) !important; }
  .fondo .navbar,
  .fondo-two .navbar {
    display: flex;
    align-items: center;
    background-color: black; }
    .fondo .navbar .logo,
    .fondo-two .navbar .logo {
      padding: 0 1rem; }
      .fondo .navbar .logo:hover,
      .fondo-two .navbar .logo:hover {
        transform: rotate(360deg);
        box-shadow: 0px 1px 23px 5px #002bff;
        transition: 1s;
        border-radius: 20px; }
    .fondo .navbar a,
    .fondo-two .navbar a {
      color: blue;
      font-weight: bold; }
    .fondo .navbar .navbar-toggler i,
    .fondo-two .navbar .navbar-toggler i {
      padding-top: .2rem;
      color: blue;
      font-size: 25px; }
    .fondo .navbar .navbar-nav .nav-item,
    .fondo-two .navbar .navbar-nav .nav-item {
      text-align: center; }
      .fondo .navbar .navbar-nav .nav-item:hover,
      .fondo-two .navbar .navbar-nav .nav-item:hover {
        background-color: blue; }
        .fondo .navbar .navbar-nav .nav-item:hover a,
        .fondo-two .navbar .navbar-nav .nav-item:hover a {
          color: white; }

.first-tittle {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black; }

.galeria {
  height: auto;
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 300px);
  grid-gap: 20px;
  background-position: center;
  padding-bottom: 1rem; }
  .galeria .item {
    border: 6px solid black;
    background-size: cover;
    background-position: center; }
  .galeria .item1 {
    background-image: url(../img/1_chelsea.jpeg); }
  .galeria .item2 {
    background-image: url(../img/2_chelsea.jpg); }
  .galeria .item3 {
    background-image: url(../img/3_chelsea.JPG); }
  .galeria .item4 {
    background-image: url(../img/4_chelsea.jpg); }
  .galeria .item5 {
    background-image: url(../img/5_chelsea.jpg); }
  .galeria .item6 {
    background-image: url(../img/chelsea_11.png); }
  .galeria .item7 {
    background-image: url(../img/7_chelsea.jpg); }
  .galeria .item8 {
    background-image: url(../img/8_chelsea.jpeg); }

@media (min-width: 0) and (max-width: 768px) {
  .galeria {
    width: 100% !important; } }

.jumbotron {
  height: calc(100vh - 3.5rem);
  background-color: white;
  background-image: url(../img/cesped_2.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  border-radius: 0;
  margin-bottom: 0; }
  .jumbotron .display-4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px; }
  .jumbotron .lead {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px; }
  .jumbotron .second-lead {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: white;
    padding: 20px; }
  .jumbotron .botonera,
  .jumbotron a {
    color: white;
    text-decoration: none;
    background-color: rgba(188, 188, 188, 0.41);
    padding: 10px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold; }
    .jumbotron .botonera a:hover,
    .jumbotron a a:hover {
      background-color: #00007a; }

.first-word {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold; }

.word-two {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold; }

.word-three {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold; }

.word-four {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold; }

.five-word {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold; }

.six-word {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold; }

.seven-word {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold; }

.eigth-word {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold; }

.strong-one {
  font-size: 25px; }

.strong-two {
  font-size: 25px; }

.strong-three {
  font-size: 25px; }

.history-container {
  background-color: rgba(188, 188, 188, 0.41); }
  .history-container .history-container,
  .history-container .div {
    padding: 1rem; }
  .history-container .history-container,
  .history-container img {
    max-width: 100%;
    margin: auto; }

.form-row {
  padding: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.form-group {
  padding: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.btn {
  font-size: 15px;
  margin: 30px; }

.found-two {
  background-color: black; }

.carousel-inner {
  max-height: 40rem;
  height: 800px; }

.nosotros {
  padding-top: 70px; }
  .nosotros .row {
    display: flex;
    align-items: center; }

.nosotros p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: blue;
  font-weight: bold; }

.nosotros h1 {
  color: blueviolet;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold; }

.nosotros iframe {
  width: 500px; }

@media (min-width: 0) and (max-width: 768px) {
  .carousel-inner {
    height: 300px; }
  .nosotros iframe {
    width: 500px; } }
