.fondo, .fondo-two{
    height: 100%;
    background-color: blue;
    background-image: linear-gradient(to top left, white, blue);
    &.fondo-registro, &.fondo-nosotros{
        background-image: linear-gradient(to left top, white, grey) !important; 
    }
    .navbar{
        display: flex;
        align-items: center;
        background-color: black;
        .logo{
            padding: 0 1rem;
            &:hover{
                transform: rotate(360deg);
                box-shadow: 0px 1px 23px 5px rgba(0,43,255,1);
                transition: 1s;
                border-radius: 20px;
            }
        }
        a{
            color: blue;
            font-weight: bold;
        }

        .navbar-toggler{
            i{
                padding-top: .2rem;
                color: blue;
                font-size: 25px;
            }
        }
        .navbar-nav{
            .nav-item{
                text-align: center;
                &:hover{
                    background-color: blue;
                    a{
                        color: white;
                    }
                }
            }    
        }
    }
}

.first-tittle{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.galeria{
    height: auto;
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 300px);
    grid-gap: 20px;
    background-position: center;
    padding-bottom: 1rem;
    .item{
        border: 6px solid black;
        background-size: cover;
        background-position: center;
    }
    .item1{
        background-image: url(/img/1_chelsea.jpeg);
    }    
    .item2{
        background-image: url(/img/2_chelsea.jpg);
    }
    .item3{
        background-image: url(/img/3_chelsea.JPG);
    }
    .item4{
        background-image: url(/img/4_chelsea.jpg);
    }
    .item5{
        background-image: url(/img/5_chelsea.jpg);
    }
    .item6{
        background-image: url(/img/chelsea_11.png);
    }
    .item7{
        background-image: url(/img/7_chelsea.jpg);
    }
    .item8{
        background-image: url(/img/8_chelsea.jpeg);
    }
}

@media (max-width: 768px) {
    .galeria{
        width: 100% !important;
    }
}

.jumbotron{
    height: calc(100vh - 3.5rem);
    background-color: white;
    background-image: url(/img/cesped_2.jpg);
    background-size: cover;
    background-position: center;
    color:white;
    text-align: center;
    border-radius: 0;
    margin-bottom: 0;
    .display-4{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        padding: 10px;
    }
    .lead{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        padding: 10px;
    }
    .second-lead{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        color: white;
        padding: 20px;
    }
    .botonera, a{
        color: white;
        text-decoration: none;
        background-color: rgba(188, 188, 188, 0.41);
        padding: 10px 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;  
            a:hover{
                background-color: rgb(0, 0, 122);
            }
    }
}

.first-word{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.word-two{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.word-three{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.word-four{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.five-word{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.six-word{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.seven-word{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.eigth-word{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.strong-one{
    font-size: 25px;
}

.strong-two{
    font-size: 25px;
}

.strong-three{
    font-size: 25px;
}

.history-container{
    background-color: rgba(222, 222, 222, 0.4);
        .history-container, .div{
            padding: 1rem;
        }
        .history-container, img{
            max-width: 100%;
            margin: auto;
        }
}



.form-row{
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-group{
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn{
    font-size: 15px;
    margin: 30px;
}

.found-two{
    background-color: black;
}

.carousel-inner{
    max-height: 40rem;
   height: 800px;
}

.nosotros{
    padding-top: 70px;
    .row{
        display: flex;
        align-items: center;
    }
}

.nosotros p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    font-weight: bold;
}

.nosotros h1{
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.nosotros iframe{
    width: 500px;
}

@media (max-width: 767px) {
    .carousel-inner{
        height: 300px;
    }
    .nosotros iframe{
        width: 500px;
    }
    
}

