.fondo{
    height: 100%;
    background-color: blue;
    background-image: linear-gradient(to top left, white, blue);
}
.fondo-two{
    background-color: blue;
}

.navbar{
    background-color: black;
}
.navbar a{
    color:white;
}

.navbar-brand{
    color: blue !important;
    font-weight: bold;
}

.navbar-toggler{
    background-color: blue;
}

.navbar-toggler i{
    color: black;
    font-size: 25px;
}

.nav-item{
    text-align: center;
}

.nav-item:hover{
    background-color:blue;
}

.logo {
    padding: 0 1rem;
}

.logo:hover {
    transform: rotate(360deg);
    box-shadow: 0px 1px 23px 5px rgba(0,43,255,1);
    transition: 1s;
    border-radius: 20px;
}

.first-tittle{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.second-tittle{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
}

.galeria{
    height: auto;
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 300px);
    grid-gap: 20px;
    background-position: center;
    padding-bottom: 1rem;
}

.item{
    border: 6px solid black;
    background-size: cover;
    background-position: center;
}


.item1{
    background-image: url(img/1\ chelsea.jpeg);
}

.item2{
    background-image: url(img/2\ chelsea.jpg);
}

.item3{
    background-image: url(img/3\ chelsea.JPG);
}

.item4{
    background-image: url(img/4\ chelsea.jpg);
}


.item5{
    background-image: url(img/5\ chelsea.jpg);
}


.item6{
    background-image: url(img/chelsea\ 11.png);
}


.item7{
    background-image: url(img/7\ chelsea.jpg_large);
}

.item8{
    background-image: url(img/8\ chelsea.jpeg);
}

@media (max-width: 768px) {
    .galeria{
        width: 100% !important;
    }
}

.jumbotron{
    height: 600px;
    background-color: white;
    background-image: url(img/cesped\ 2.jpg);
    background-size: cover;
    background-position: center;
    color:white;
    text-align: center;
    border-radius: 0;
    margin-bottom: 0;
}

.display-4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px;
}

.lead{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px;
}

.second-lead{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: white;
    padding: 20px;
}

.botonera a {
    color: white;
    text-decoration: none;
    background-color: blue;
    padding: 10px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.botonera a:hover{
    background-color: rgb(0, 0, 122);
}

.botonera a:active{
    border: 3px solid aqua;
}

.tittle-two{
    text-align: center;
    background-color: blue;
    padding: 30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 0;
}

.img-shirt{
    background-color: blue;
    background-image: url(img/mount.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
}

.img2{
    background-image: url(img/ball\ 3.jpeg);
    background-color: blue;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.section-index {
    width: 100%;
}

.row-index {
    max-width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
}

.titulo-shirt{
    background-color: blue;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 20px;
}
.titulo-shirt h3{
    text-align: center;
}


.first-word{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.word-two{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.word-three{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.word-four{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.five-word{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.six-word{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.seven-word{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.eigth-word{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.strong-one{
   font-size: 25px;
}

.strong-two{
    font-size: 25px;
}

.strong-three{
    font-size: 25px;
}

.history-container {
    background-color: rgba(222, 222, 222, 0.4);
}

.history-container > div {
    padding: 1rem;
}

.history-container img{
    max-width: 100%;
    margin: auto;
}

.form-row{
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-group{
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn{
    font-size: 15px;
    margin: 30px;
}

.found{
    background-image: linear-gradient(to left top, white, grey);
} 

.found-two{
    background-color: black;
}

.nosotros{
    padding-top: 70px;
}

.nosotros iframe{
    width: 600px;
}

.carousel-inner{
    max-height: 40rem;
}

.nosotros p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
}

.nosotros h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.nosotros .row{
    display: flex;
    align-items: center;
}

.carousel-inner{
    height: 800px;
}

@media (max-width: 767px) {
    .carousel-inner{
        height: 300px;
    }
    .nosotros iframe{
        width: 500px;
    }
}